<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS Tags</title>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Current second:
    <%= seconds %>
  </p>
  <ul>
    <% if (seconds % 2===0) { %>
      <% items.forEach((fruit)=> { %>
        <!-- List goes here if current second is even. -->
        <li>
          <%= fruit %>
        </li>
        <% }); %>
  </ul>
  <% } else { %>
    <!-- Otherwise it should display the following: -->
    <!-- <p>No items to display</p> -->
    <p>No items to display</p>
    <% } %>
      <p>
        <!-- HTML content goes here -->
        <%- htmlContent %>
      </p>

      <!-- Footer goes here -->
       <%- include("footer.ejs")  %>
</body>

</html>